.country {
    padding: 70px;
}

.btn-light {
    margin-bottom: 20px;
    display: inline-block;
}

.country article div {
    margin: 20px 0;
}

.country-header h2 {
    font-weight: 600;
    font-size: 30px;
}

.country-descriptions h5 {
    margin: 5px 0;
    font-weight: 600;
    font-size: 18px;
}

.h5-borders {
    margin: 5px 0;
    font-weight: 600;
    font-size: 18px;
}

.country h5 .descriptions {
    font-weight: 300;
}

.borders {
    display: flex;
}

.country .borders ul li{
    list-style-type: none;
    margin: 0 10px;
    background-color: var(--elements-dark-color);
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 20px hsl(209, 23%, 22%, 0.2);
}

.country .borders ul.light-view {
    background-color: var(--elements-light-color);
}

@media (max-width: 600px) {

    .nav {
        padding: 10px 40px;
      }
    .country {
        padding: 30px;
    }
}

@media (min-width: 900px) {
    .country article .country-elements{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .country article .country-descriptions {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
}